<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduation.jaguar.core.dal.dao.ClassifyDao">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.graduation.jaguar.core.dal.domain.Classify">
                    <id column="classify_id" property="classifyId"/>
                    <result column="classify_name" property="classifyName"/>
                    <result column="classify_code" property="classifyCode"/>
                    <result column="is_valid" property="isValid"/>
                    <result column="create_time" property="createTime"/>
                    <result column="modify_time" property="modifyTime"/>
        </resultMap>
        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
       classify_id,classify_name,classify_code,is_valid,create_time,modify_time
        </sql>
</mapper>